

@* CardFlexModifier => card--3column or card--3column *@
<div class="card card_shadow @CardFlexModifier">
    <a class="card-link" href="@CardList.Link" target="_blank" rel="noopener">
        <div class="card-content">
            <img class="card-img" src="@CardList.Image" />
        </div>
        <div class="card-body">
            <h5 class="card-title">@CardList.Title</h5>
            <p class="card-text">@CardList.Description</p>
        </div>
    </a>
</div>
@code {
    [Parameter]
    public Book CardList { get; set; }
    [Parameter]
    public string CardFlexModifier { get; set; }
}